

.blog
	padding 12px

	&-post
		padding 12px

		.preview

			> a
				display block


		.text-content
			background-color white
			padding 20px

			a
				&:hover
					text-decoration underline


			h2
				font-size _em(22px)
				color black

			p
				font-size _em(14px)
				color #9c9c9c

				&:last-of-type
					margin-bottom 0


		.post-info
			background-color white
			padding 15px 10px
			color #9a9a9a
			font-size _em(14px)
			border-top 1px solid #e3e3e3

			i
				margin-right 8px

			a
				text-decoration none
				color inherit
				display inline-block
				padding 0 10px
				_transition color

				&:hover
					color black


		.meta-link
			background-color $main-color
			text-align center
			padding 30px 20px
			color #fff
			line-height 1.3

			h2, h3, h4, h5, h6, p
				color inherit

			p
				margin 0

			a
				font-style italic
				font-size _em(14px)
				font-weight 700

				&:hover
					text-decoration underline


		.meta-aside
			background-color $bg-color
			color white
			border-left 15px solid $main-color
			padding 20px

			h2
				font-size _em(21px)
				line-height 1.2
				color inherit

			p
				font-size _em(15px)
				color #9c9c9c

				&:last-of-type
					margin-bottom 0


		.post-quote
			padding 25px
			background-color $bg-color
			text-align center

			blockquote
				color white
				font-family Georgia, Times, 'Times New Roman', serif
				font-size _em(21px)
				font-style italic
				margin 0 0 10px 0

			p
				color $main-color

				&:last-of-type
					margin-bottom 0

				i
					font-size 25px
					line-height 1





